# Python
## **Python**
### Python
#### Python
##### Python
###### Python

In [1]:
print("Hello World!")

Hello World!

In [2]:
import pandas as pd
print(dir(pd))
print("Количество методов в библиотеке Pandas равно : ",len(dir(pd)))
print("Тип данных методов:", type(dir(pd)))
print("Тип данных длинны равен:", type(len(dir(pd))))
print("Выводи все в одну строку",dir(pd))

['ArrowDtype', 'BooleanDtype', 'Categorical', 'CategoricalDtype', 'CategoricalIndex', 'DataFrame', 'DateOffset', 'DatetimeIndex', 'DatetimeTZDtype', 'ExcelFile', 'ExcelWriter', 'Flags', 'Float32Dtype', 'Float64Dtype', 'Grouper', 'HDFStore', 'Index', 'IndexSlice', 'Int16Dtype', 'Int32Dtype', 'Int64Dtype', 'Int8Dtype', 'Interval', 'IntervalDtype', 'IntervalIndex', 'MultiIndex', 'NA', 'NaT', 'NamedAgg', 'Period', 'PeriodDtype', 'PeriodIndex', 'RangeIndex', 'Series', 'SparseDtype', 'StringDtype', 'Timedelta', 'TimedeltaIndex', 'Timestamp', 'UInt16Dtype', 'UInt32Dtype', 'UInt64Dtype', 'UInt8Dtype', '__all__', '__builtins__', '__cached__', '__doc__', '__docformat__', '__file__', '__git_version__', '__loader__', '__name__', '__package__', '__path__', '__spec__', '__version__', '_built_with_meson', '_config', '_is_numpy_dev', '_libs', '_pandas_datetime_CAPI', '_pandas_parser_CAPI', '_testing', '_typing', '_version_meson', 'annotations', 'api', 'array', 'arrays', 'bdate_range', 'compat', 'concat', 'core', 'crosstab', 'cut', 'date_range', 'describe_option', 'errors', 'eval', 'factorize', 'from_dummies', 'get_dummies', 'get_option', 'infer_freq', 'interval_range', 'io', 'isna', 'isnull', 'json_normalize', 'lreshape', 'melt', 'merge', 'merge_asof', 'merge_ordered', 'notna', 'notnull', 'offsets', 'option_context', 'options', 'pandas', 'period_range', 'pivot', 'pivot_table', 'plotting', 'qcut', 'read_clipboard', 'read_csv', 'read_excel', 'read_feather', 'read_fwf', 'read_gbq', 'read_hdf', 'read_html', 'read_json', 'read_orc', 'read_parquet', 'read_pickle', 'read_sas', 'read_spss', 'read_sql', 'read_sql_query', 'read_sql_table', 'read_stata', 'read_table', 'read_xml', 'reset_option', 'set_eng_float_format', 'set_option', 'show_versions', 'test', 'testing', 'timedelta_range', 'to_datetime', 'to_numeric', 'to_pickle', 'to_timedelta', 'tseries', 'unique', 'util', 'value_counts', 'wide_to_long']
Количество методов в библиотеке Pandas равно :  141
Тип данных методов: <class 'list'>
Тип данных длинны равен: <class 'int'>
Выводи все в одну строку ['ArrowDtype', 'BooleanDtype', 'Categorical', 'CategoricalDtype', 'CategoricalIndex', 'DataFrame', 'DateOffset', 'DatetimeIndex', 'DatetimeTZDtype', 'ExcelFile', 'ExcelWriter', 'Flags', 'Float32Dtype', 'Float64Dtype', 'Grouper', 'HDFStore', 'Index', 'IndexSlice', 'Int16Dtype', 'Int32Dtype', 'Int64Dtype', 'Int8Dtype', 'Interval', 'IntervalDtype', 'IntervalIndex', 'MultiIndex', 'NA', 'NaT', 'NamedAgg', 'Period', 'PeriodDtype', 'PeriodIndex', 'RangeIndex', 'Series', 'SparseDtype', 'StringDtype', 'Timedelta', 'TimedeltaIndex', 'Timestamp', 'UInt16Dtype', 'UInt32Dtype', 'UInt64Dtype', 'UInt8Dtype', '__all__', '__builtins__', '__cached__', '__doc__', '__docformat__', '__file__', '__git_version__', '__loader__', '__name__', '__package__', '__path__', '__spec__', '__version__', '_built_with_meson', '_config', '_is_numpy_dev', '_libs', '_pandas_datetime_CAPI', '_pandas_parser_CAPI', '_testing', '_typing', '_version_meson', 'annotations', 'api', 'array', 'arrays', 'bdate_range', 'compat', 'concat', 'core', 'crosstab', 'cut', 'date_range', 'describe_option', 'errors', 'eval', 'factorize', 'from_dummies', 'get_dummies', 'get_option', 'infer_freq', 'interval_range', 'io', 'isna', 'isnull', 'json_normalize', 'lreshape', 'melt', 'merge', 'merge_asof', 'merge_ordered', 'notna', 'notnull', 'offsets', 'option_context', 'options', 'pandas', 'period_range', 'pivot', 'pivot_table', 'plotting', 'qcut', 'read_clipboard', 'read_csv', 'read_excel', 'read_feather', 'read_fwf', 'read_gbq', 'read_hdf', 'read_html', 'read_json', 'read_orc', 'read_parquet', 'read_pickle', 'read_sas', 'read_spss', 'read_sql', 'read_sql_query', 'read_sql_table', 'read_stata', 'read_table', 'read_xml', 'reset_option', 'set_eng_float_format', 'set_option', 'show_versions', 'test', 'testing', 'timedelta_range', 'to_datetime', 'to_numeric', 'to_pickle', 'to_timedelta', 'tseries', 'unique', 'util', 'value_counts', 'wide_to_long']

In [3]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [4]:
for i in range(10,2,-1):
    print(i)

10
9
8
7
6
5
4
3

In [5]:
for i in range(0,10,2):
    if i%4==0:
        print(i)

0
4
8

In [6]:
for i in range(3,9,2):
    print(i, end="!")

3!5!7!

In [7]:
import pandas as pd
df = pd.read_csv("labeled_anomalies.csv")
df.head()

,chan_id,spacecraft,anomaly_sequences,class,num_values
0,P-1,SMAP,"[[2149, 2349], [4536, 4844], [3539, 3779]]","[contextual, contextual, contextual]",8505
1,S-1,SMAP,"[[5300, 5747]]",[point],7331
2,E-1,SMAP,"[[5000, 5030], [5610, 6086]]","[contextual, contextual]",8516
3,E-2,SMAP,"[[5598, 6995]]",[point],8532
4,E-3,SMAP,"[[5094, 8306]]",[point],8307

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 82 entries, 0 to 81
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   chan_id            82 non-null     object
 1   spacecraft         82 non-null     object
 2   anomaly_sequences  82 non-null     object
 3   class              82 non-null     object
 4   num_values         82 non-null     int64
dtypes: int64(1), object(4)
memory usage: 3.3+ KB

In [9]:
df_1 = pd.read_csv("agriculture_rural_development.csv")
df_1.head()

,year,country,Fertilizer consumption (% of fertilizer production),Fertilizer consumption (kilograms per hectare of arable land),Agricultural land (sq. km),Agricultural land (% of land area),Arable land (hectares per person),Arable land (% of land area),Land under cereal production (hectares),Permanent cropland (% of land area),...,Livestock production index (2014-2016 = 100),Cereal yield (kg per hectare),"Access to electricity, rural (% of rural population)","Annual freshwater withdrawals, agriculture (% of total freshwater withdrawal)","Agriculture, forestry, and fishing, value added (current US$)","Agriculture, forestry, and fishing, value added (% of GDP)",Rural population,Rural population growth (annual %),Rural population (% of total population),Agricultural raw materials imports (% of merchandise imports)
0,1960,ABW,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,27035.0,NaN,49.224000,NaN
1,1960,AFE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,111111891.0,NaN,85.423324,NaN
2,1960,AFG,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,8276009.0,NaN,91.599000,NaN
3,1960,AFW,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,83269407.0,NaN,85.289994,NaN
4,1960,AGO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,4685731.0,NaN,89.565000,NaN

In [10]:
df_1.tail()

,year,country,Fertilizer consumption (% of fertilizer production),Fertilizer consumption (kilograms per hectare of arable land),Agricultural land (sq. km),Agricultural land (% of land area),Arable land (hectares per person),Arable land (% of land area),Land under cereal production (hectares),Permanent cropland (% of land area),...,Livestock production index (2014-2016 = 100),Cereal yield (kg per hectare),"Access to electricity, rural (% of rural population)","Annual freshwater withdrawals, agriculture (% of total freshwater withdrawal)","Agriculture, forestry, and fishing, value added (current US$)","Agriculture, forestry, and fishing, value added (% of GDP)",Rural population,Rural population growth (annual %),Rural population (% of total population),Agricultural raw materials imports (% of merchandise imports)
16606,2024,TTO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.399557
16607,2024,TUR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.942472
16608,2024,USA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.823354
16609,2024,UZB,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.738316
16610,2024,ZAF,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.026973

In [11]:
df.info

<bound method DataFrame.info of    chan_id spacecraft                           anomaly_sequences  \
0      P-1       SMAP  [[2149, 2349], [4536, 4844], [3539, 3779]]
1      S-1       SMAP                              [[5300, 5747]]
2      E-1       SMAP                [[5000, 5030], [5610, 6086]]
3      E-2       SMAP                              [[5598, 6995]]
4      E-3       SMAP                              [[5094, 8306]]
..     ...        ...                                         ...
77    P-11        MSL                [[1778, 1898], [1238, 1344]]
78    D-15        MSL                              [[1500, 2140]]
79    D-16        MSL                               [[600, 1250]]
80     M-7        MSL                               [[940, 1040]]
81     F-8        MSL                              [[1950, 2486]]

                                   class  num_values
0   [contextual, contextual, contextual]        8505
1                                [point]        7331
2               [contextual, contextual]        8516
3                                [point]        8532
4                                [point]        8307
..                                   ...         ...
77                        [point, point]        3535
78                               [point]        2158
79                          [contextual]        2191
80                               [point]        2156
81                          [contextual]        2487

[82 rows x 5 columns]>

In [12]:
print("Мировой порядок!")

Мировой порядок!